<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% cache_key = Beforehand.cache_key(user, locale: params[:locale], in: "users/index") %>

      <% cache(cache_key) do %>
        <%= render "users/index/row", user: user, locale: params[:locale] %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
